# Build artifacts
checkout-service/target/
checkout-service/.mvn/wrapper/maven-wrapper.jar
category-service/category-service
payment-service/node_modules/
notification-service/target/

# IDE
.idea/
*.iml
